<div>
    <img src="/pictures/train.webp" alt="train">
</div>
<div class="optiontrain">
    <select class="option">
        <option class="content" value="raft">دربست نمیخواهم</option>
        <option class="content" value="yektarafe">دربست میخواهم</option>
    </select>
    <select class="option">
        <option class="content" value="raft">مسافرین عادی</option>
        <option class="content" value="yektarafe">ویژه برادران</option>
        <option class="content" value="yektarafe">ویژه خواهران</option>
    </select>
    <select class="option">
        <option class="content" value="raft">حمل خودرو نمیخواهم</option>
        <option class="content" value="yektarafe">حمل خودرو میخواهم</option>
    </select>
</div>