<div>
    <img src="/pictures/khareji.webp" alt="khareji">
</div>
<div id="optionkhareji">
    <select class="option">
        <option class="content" value="eco">اکونومی</option>
        <option class="content" value="peco">پریمیوم اکونومی</option>
        <option class="content" value="bis">بیزینس</option>
        <option class="content" value="pbis">پریمیوم بیزینس</option>
        <option class="content" value="ferst">فرست</option>
        <option class="content" value="pferst">پریمیوم فرست</option>
    </select>
</div>