.borderlogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(201, 201, 201);
    width: 99vw;
    height: 10vh;
    border-radius: 12px;
}

nav {
    display: flex;
    margin-right: 5vw;
    /* margin-top: 1vh; */
}

ul li {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;

}

.stylemenu {
    position: absolute;
    background-color: rgb(245, 240, 240);
    border: 1px solid rgb(194, 192, 192);
    padding: 0.5em;
    border-radius: 9px;
    width: 10vw;
    margin-right: 0.5em;
    font-size: medium;
    transition:1s ease-in-out;
    cursor: pointer;

}

.stylemenu a {
    color: rgb(138, 137, 137);
    text-decoration: none;
    margin: 0.5em;
    border-bottom: 1px solid rgb(194, 192, 192);
    display: block;
    transition: 1s ease-out;
}

.stylemenu a:hover {
    color: rgb(240, 121, 9);

}

.logolast1 {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {

    color: rgb(184, 181, 181);
}

#imgonline {
    width: 2.5vw;
    height: 5vh;
}

#imgsuitcase {
    width: 2.5vw;
    height: 6vh;
}

#imgprofile {
    width: 1.5vw;
    height: 3vh;
}

div img {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    width: 12vw;
    height: 8vh;
}

.menu1 {
    padding: 0.5em;
    color: rgb(184, 181, 181);
    font-size: large;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    
}
.menu1:hover{
    color: rgb(240, 121, 9);
    transition: 1s ease-in;
}