<div class="borderlogo">

    <div>
        <a><img src="/pictures/logoalibaba.gif"></a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li> <a class="menu1" routerLink="/بلیط">بلیط</a>
                    <ul>
                        <li><a class="submenu">پرواز داخلی</a></li>
                        <li><a class="submenu">پرواز خارجی</a></li>
                        <li><a class="submenu">اتوبوس</a></li>
                        <li><a class="submenu">قطار</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li> <a class="menu1" routerLink="/offers">اقامت</a>
                    <ul>
                        <li><a class="submenu">هتل</a></li>
                        <li><a class="submenu">ویلا و اقامتگاه</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li> <a class="menu1" routerLink="/offers">تور</a>
                </li>
            </ul>
            <ul>
                <li> <a class="menu1" routerLink="/offers">ویزا</a>

                </li>
            </ul>
            <ul>
                <li> <a class="menu1" routerLink="/بلیط">بیشتر</a>
                    <ul>
                        <li><a class="submenu">علی بابا پلاس</a></li>
                        <li><a class="submenu">مجله ی علی بابا</a></li>
                        <li><a class="submenu">بیمه مسافرتی</a></li>
                        <li><a class="submenu">سفر اقساطی</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="logolast1">
        <img  id=imgonline src="/pictures/online.jpg" al="online">
        <div class="logolast"><a href="">مرکز پشتیبانی انلاین</a></div>
        <img  id=imgsuitcase src="/pictures/suitcase.jpg" al="online">
        <div class="logolast"><a href="">سفرهای من</a></div>
        <img  id=imgprofile src="/pictures/profile.png" al="online">
        <div class="logolast"><a href="">ورود یا ثبت نام</a></div>
    </div>

</div>