<div class="borderlogo">

    <div><a><img src="/pictures/logoalibaba.gif"></a></div>
    <nav>
        <ul>
            <li> <a class="menu1" routerLink="/بلیط">بلیط</a>
                <ul>
                    <li><a class="submenu">پرواز داخلی</a></li>
                    <li><a class="submenu">پرواز خارجی</a></li>
                    <li><a class="submenu">اتوبوس</a></li>
                    <li><a class="submenu">قطار</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li> <a class="menu1" routerLink="/offers">اقامت</a>
                <ul>
                    <li><a class="submenu">هتل</a></li>
                    <li><a class="submenu">ویلا و اقامتگاه</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li> <a class="menu1" routerLink="/offers">تور</a>
            </li>
        </ul>
        <ul>
            <li> <a class="menu1" routerLink="/offers">ویزا</a>

            </li>
        </ul>
        <ul>
            <li> <a class="menu1" routerLink="/بلیط">بیشتر</a>
                <ul>
                    <li><a class="submenu">علی بابا پلاس</a></li>
                    <li><a class="submenu">مجله ی علی بابا</a></li>
                    <li><a class="submenu">بیمه مسافرتی</a></li>
                    <li><a class="submenu">سفر اقساطی</a></li>
                </ul>
            </li>
        </ul>

        <div class="logolast"><a>مرکز پشتیبانی انلاین</a></div>
        <div class="logolast"><a>سفرهای من</a></div>
        <div class="logolast"><a>ورود یا ثبت نام</a></div>

    </nav>
</div>