.borderlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgb(201, 201, 201);
    width: 98vw;
    height: 10vh;
    border-radius: 12px;
}

nav {
    display: flex;
    margin-right: 8vw;
    margin-top: 2.5vh;
}

.logolast {
    margin-right: 7vw;
}

div img {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    width: 12vw;
    height: 8vh;
}

.menu1 {
    padding: 1em;
    color: rgb(184, 181, 181);
    font-size: large;
    text-decoration: none;
    box-sizing: border-box;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li ul {
    display: none;
}

nav>ul li {
    display: inline-block;
    position: relative;
}

nav a:hover {
    color: rgb(151, 148, 148);
}

nav>ul ul {
    display: none;
}

nav>ul ul li {
    display: inline-block;
}

nav a:hover+ul {
    display: initial;
    position: absolute;
    top: 4.2vh;
    left: 0;

}

nav a:hover+ul>li {
    display: inline-block;
}

.submenu {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(230, 230, 230);
    border-radius: 7.5px;
    border-bottom: 2px solid black;
    width: 10vw;
    padding: 0.75em;
    color: rgb(133, 133, 133);
    font-size: small;
}