<div class="borderservices">
    <div class="text">
        <a href="#">
            <h3 class="h3">هتل داد یزد</h3>
            <h5 class="h5">اقامتی اسوده در قلب تاریخ</h5>
            <button class="btn">رزرو از علی بابا</button>
        </a>
    </div>
    <img class="img" src="/pictures/hoteldad.jpg" alt="hotel">
    <div class="text">
        <a  href="#">
            <h3 class="h3">علی بابا مرجع بررسی ورزرو هتل های ایران</h3>
            <h5 class="h5">از اقتصادی تا لوکس</h5>
            <button class="btn1">جستجو وبررسی هتل ها</button>
        </a>
    </div>
    <img class="img" src="/pictures/hotelwinter.jpg" alt="hotel">

</div>