<div>
    <h4>سایر خدمات علی بابا</h4>
</div>
<div class="service">
    <img class="img" src="/pictures/safarcard-3dc2c4c4.svg" alt="safarcard">
    <a class="linkservice" href="#">سفر کارت (سازمانی)
    </a>
    <img class="img" src="/pictures/instalment-icon-91668a01.svg" alt="instalment">
    <a class="linkservice" href="#">سفر اقساطی
    </a>
    <img class="img" src="/pictures/visa-icon-d8507c8e.svg" alt="visa">
    <a class="linkservice" href="#">ویزای سفر
    </a>
    <img class="img" src="/pictures/gtour-icon-5e641f1b.svg" alt="gtour">
    <a class="linkservice1" href="#">تور گردشگری
    </a>
</div>